<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lower Thirds Viewer</title>
  <style>
    body {
      font-family: 'Raleway', 'Calibri', sans-serif;
      font-size: 30pt;
      background-color: transparent;
      color: white;
    }

    #main-content {
      opacity: 0;
      transition: all .4s ease;
      text-shadow: 0 0 10px black;
    }

    #main-content.visible {
      opacity: 1;
    }
  </style>
  <script src="/assets/libs/yadl.js"></script>
  <script src="/assets/libs/client.js"></script>
</head>
<body>
  <div id="main-content"></div>
  <script src="/assets/viewer.js"></script>
</body>
</html>