<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lower Thirds Presenter</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/libs/yadl.js"></script>
  <script src="/assets/ui.js"></script>
</head>
<body>
  <h1>Presenter</h1>
  <a href="">refresh</a>
  <div>
    <form action="get" name="textInput">
      <input id="textInput" type="text" placeholder="Enter some text" autocomplete="off">
      <input type="submit" value="Add">
    </form>
    <div id="slides"></div>
    <button id="start">START</button>
  </div>
  <script src="/assets/presenter.js"></script>
</body>
</html>