<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lower Thirds Presenter</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/libs/yadl.js"></script>
  <script src="/assets/ui.js"></script>
  <script src="/assets/libs/client.js"></script>
</head>

<body>
  <label for="show-length">Text show length (s):</label>
  <input type="number" name="show-length" id="show-length" value="6" min="0" step="1">
  <ul id="slots"></ul>
  <button id="add-button">Add</button>
  <script src="/assets/presenter.js"></script>
</body>

</html>