body {
  background-color: #272727;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333333;
  transition: all 0.2s ease;
  opacity: 0;
  padding: 20px 40px;
  border-radius: 3px;
  z-index: 11;
}

.toast.visible {
  opacity: 1;
}

.disabler {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.233);
  z-index: 10;
}

.disabler.visible {
  display: block;
}

button, input {
  background-color: transparent;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  transition: all .3s ease;
}

button:hover, input:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

button:active, input:active, input:focus {
  background-color: rgba(167, 167, 167, 0.233);
}

button:disabled {
  color: rgba(255, 255, 255, 0.233);
}

button:disabled:hover, button:disabled:active {
  background-color: transparent;
}

#slots {
  margin: 10px;
  border: 1px solid rgb(103, 103, 103);
  padding: 0;
}

#slots li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

#slots span {
  padding: 5px 10px;
  flex: 1 0 auto;
}

#slots button {
  padding: 5px 10px;
  flex: 0 0 auto;
}

#slots .empty span {
  opacity: .5;
}

.delete {
  border: none;
  opacity: .6;
}