body {
  background-color: #272727;
  color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 10pt;
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333333;
  transition: all 0.2s ease;
  display: none;
  padding: 20px 40px;
  border-radius: 3px;
  z-index: 11;
}

.toast.visible {
  display: block
}

.disabler {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.233);
  z-index: 10;
}

.disabler.visible {
  display: block;
}

button, input {
  background-color: #4a4a4a;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: #dadada;
  transition: all .1s ease;
  font-size: 9pt;
}

input {
  width: 50px;
}

button:hover, input:hover {
  background-color: #949494;
}

button:active, input:active {
  background-color: #949494;
}

input:focus {
  background-color: #4a4a4a;
}

button:disabled {
  color: rgba(255, 255, 255, 0.233);
}

button:disabled:hover, button:disabled:active {
  background-color: transparent;
}

#slots {
  margin: 0;
  padding: 0;
}

#slots li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 0;
}

#slots span {
  padding: 5px 10px;
  flex: 1 0 auto;
}

#slots button {
  padding: 5px 10px;
  flex: 0 0 auto;
  margin: 0 1px;
}

#slots .empty span {
  opacity: .5;
}

.delete {
  border: none;
  opacity: .6;
}

div.spacer {
  height: 40px;
}

.controls {
  position: fixed;
  bottom: 2px;
  left: 2px;
  right: 2px;
  padding: 5px;
  background-color: #383838;
  display: flex;
  flex-flow: row nowrap;
}

span.spacer {
  flex: 1 0 auto;
}

.left {
  flex: 0 0 auto;
}